// Reusuable classes

// .container {
// 	height: 100%;
// }

.aligner {
	display: flex;
	align-items: center;
	justify-content: center;
	// height: 100%;
}

.aligner-item--top {
	align-self: flex-start;
}

.aligner-item--bottom {
	align-self: flex-end;
}

.clear {
	clear: both;
}
