.part_1_button {
	display: flex;
	flex-direction: column;
	@include for(md) {
		flex-direction: row;
	}
	div {
		margin: 2rem 0 0;
		@include for(md) {
			margin: 2rem 0;
		}
		a {
			background: rgb(176,176,176);
			background: linear-gradient(0deg,#a2a2a2,#cecece 52%,#e4e4e4);
			width: auto;
			display: block;
			padding: 13px 19px;
			margin: 0rem 2rem 2rem;
			text-transform: uppercase;
			font-weight: 700;
			font-family: sans-serif;
			font-size: 24px;
			text-decoration: none;
			border-radius: 8px;
			color: #545454;
			box-shadow: 0 1px 4px 0.5px #4c4c4c, 0 0 0 7px #d4d4d4, 0 0 0 9px #fff, 0 0 0 11px #757575, 0 2px 5px 9px #5a5a5a, inset 0 28px 1px 0 hsla(0,0%,86.3%,.8);
			text-shadow: 0 1px .5px #dddddd, 0px 0px 1px #3c3c3c;
			@include for(md) {
				margin: 1.7rem 2rem 2rem;
			}
			&:before, &:after {
				color: #878787;
				content: "★";
			}
			&:before {
				padding: 0 5px 0 0;
			}
			  
			&:after {
				padding: 0 0 0 5px;
			}
		}
	}
}

#root {
	width: 100%;
	margin: 0 auto;
	#result {
		font-size: 2rem;
		font-weight: bold;
		color: #ee6f57;
		margin-bottom: 3rem;
		text-align: center;
		transition: .3s;
	}
	.searchbox {
		width: 100%;
		display: flex;
		margin: 3rem 0;
		@include for(md) {
			margin: 0 0 2rem;
		}
		input {
			width: 80%;
			max-width: 35rem;
			margin: 0 auto;
			font-size: 1.8rem;
			padding: 1rem 1.5rem;
			font-family: $primary-font;
			border: none;
			background: #eee;
			color: #00334e;
			border-radius: 1rem;
			font-weight: bold;
			transition: .3s;
			position: relative;
			&::placeholder {
				font-weight: normal;
			}
			&:focus {
				outline: none;
				background: #fff;
				box-shadow: 0 0 10px 0 rgba(20, 83, 116, .1);
				transition: .3s;
			}
			&:after {
				content: "\e900";
				display: block;
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
	#news {
		display: flex;
		flex-direction: column;
		align-items: center;
		.list {
			width: 100%;
			max-width: 50rem;
			.item {
				padding: 0;
				margin-bottom: 5rem;
				background: #f6f5f5;
				box-shadow: 0px 0px 40px 0px #c1c1c1;
				border-radius: 50px;
				position: relative;
				overflow: hidden;
				&:last-of-type {
					border-bottom: none;
				}
				&:hover {
					.newsimg {
						transform: scale(1.1);
						transition: .3s;
						filter: grayscale(0);
					}
					.info {
						background: #ffffff;
						transition: .3s;
						h1 {
							color: #ee6f57;
							transition: .3s;
						}
					}
				}
				.newsimg {
					background-size: cover;
					background-color: gray;
					background-position: center;
					width: 100%;
					padding-top: 20rem;
					border-radius: 50px 50px 0 0;
					position: relative;
					z-index: 1;
					transition: 0.3s;
					filter: grayscale(.4);
				}
				.source {
					background: #ee6f57;
					display: inline-block;
					margin: 2rem 2.5rem;
					padding: .5rem .8rem;
					text-transform: uppercase;
					font-weight: 600;
					font-size: .75rem;
					letter-spacing: .5px;
					border-radius: 8px;
					position: absolute;
					top: 0;
					z-index: 99;
					text-shadow: 1px 1px 1px #b54732;
					box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25);
					color: #fff;
				}
				.info {
					background: #f6f5f5;
					padding: 2rem 2.5rem;
					z-index: 999;
					position: relative;
					transition: .3s;
					span {
						display: block;
						padding: 0 0 1rem 0;
						text-transform: uppercase;
						font-weight: 600;
						font-size: .75rem;
						letter-spacing: .5px;
						opacity: .6;
					}
					h1 {
						font-weight: 600;
						margin-bottom: 1rem;
						color: #00334e;
						transition: .3s;
					}
					p {
						color: #145374;
					}
					.author {
						display: inline-block;
						margin: 1.5rem 0 0;
						text-transform: uppercase;
						font-weight: 600;
						font-size: .75rem;
						color: rgb(143, 143, 143);
					}
				}
			}
		}
	}
	.pagenumbers {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		button {
			font-family: $primary-font;
			appearance: none;
			border: none;
			outline: none;
			cursor: pointer;
			background-color: #e9e9e9;
			padding: 1rem;
			border-radius: 1rem;
			margin: 0 .3rem;
			transition: 0.3s;
			color: rgba(20, 82, 116, 0.61);
			font-size: 18px;
			&:hover {
				background-color: #ee6f57;
				color: #fff;
				transition: 0.3s;
			}
			&:active, &:focus {
				background-color: #145374;
				color: #fff;
				transition: 0.3s;
			}
			&.active {
				background-color: #ee6f57;
				font-weight: bold;
				color: #fff;
			}
		}
	}
}



